

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: 'FFDINWebProCondBold';
	src: url('/fonts/FFDINWebProCondBold.eot');
	src: url('/fonts/FFDINWebProCondBold.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FFDINWebProCondBold.woff2') format('woff2'),
			url('/fonts/FFDINWebProCondBold.woff') format('woff'),
			url('/fonts/FFDINWebProCondBold.ttf') format('truetype');
}

input.error {
  border-color: #a94442;
}

.tab-pane {
    border: 2px black solid;
}
.tab-pane .well {
    background-color: white;
}


.label-info {
    background-color: #f00600;
}

.nav-tabs > li {
    font-family: FFDINWebProCondBold, sans-serif;
    text-transform: uppercase;
}
.nav-tabs > li > a:hover {
    color: white;
    background-color: #0049aa;
}

.nav-tabs > li.active >  a {
    color: #FFE100;
    background-color: #F00600;
}

.nav-tabs > li.active >  a:hover {
    color: #FFE100;
    background-color: #F00600;
}

.navbar .nav > li > a {
    font-family: FFDINWebProCondBold, sans-serif;
    text-transform: uppercase;
    color: #FFE100;
    font-size: 1.5em;
}


.badge-inverse {
    background-color: #009B37; 
}


.message .well {
    background-color: #009B37; 
    border: 0;
    border-radius: 0;
}

.message button {
    font-family: FFDINWebProCondBold, sans-serif;
    color: white;
    background-color: #0049aa;
    text-transform: uppercase;
}

.infobox {
    background: white;
    color: black;
    padding: 3em;
    font-family: FFDINWebProCondBold, sans-serif;
    font-size: 2em;
}


#MainRoom_tab {
    display: none;
}

body > .row-fluid {
    background-color: white;
}

body {
    background-color: #009B37; 

}